{% extends 'base.html.twig' %}

{% block body %}
    <form method="get" action={{ path('search_todo')}} >
        <div class="mb-3">
            <input type="text" class="form-control" id="searchText" name="searchText"
                   placeholder="Search by Todo name or Category Name"
            >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>

        </div>
    </form>
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Todo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
